<div class="text-center my-4">
  <h2>計算結果</h2>
  <p class="calculation_result1">103万円まで残り<span class="result1"><%= @result1 %>円</span>です</p><br>
  <p class="average_result2">毎月平均<span class="result2"><%= @result2 %>円</span>稼ぐことができます</p>
  <%= link_to "給料チェック画面へ", salary_checks_path, class: "btn text-purple", data: { turbolinks: false } %>
</div>
